bin/**
**/db-space/**
**/.metadata/**
*.class
**/assessments/**
**/evaluation/**
**/db-space/**
workspace/.metadata/** 
**/workspace/Servers/**
*.class
*.jar 
**/generated-spring-projects/** 
**/node_modules/**

